[submodule "extern/openal-soft"]
	path = extern/openal-soft
	url = https://github.com/kcat/openal-soft.git
	branch = 1.22.0
[submodule "extern/openvr"]
	path = extern/openvr
	url = https://github.com/ValveSoftware/openvr.git
	branch = v.1.6.10b  
[submodule "extern/googletest"]
	path = extern/googletest
	url = https://github.com/google/googletest.git
	branch = release-1.11.0
[submodule "extern/glfw"]
	path = extern/glfw
	url = https://github.com/glfw/glfw.git
	branch = 3.3.7
[submodule "extern/bgfx/bgfx"]
	path = extern/bgfx/bgfx
	url = https://github.com/bkaradzic/bgfx
[submodule "extern/bgfx/bx"]
	path = extern/bgfx/bx
	url = https://github.com/bkaradzic/bx
[submodule "extern/bgfx/bimg"]
	path = extern/bgfx/bimg
	url = https://github.com/bkaradzic/bimg
[submodule "extern/cmft"]
	path = extern/cmft
	url = https://github.com/ejulien/cmft.git
[submodule "extern/recastnavigation"]
	path = extern/recastnavigation
	url = https://github.com/recastnavigation/recastnavigation.git
[submodule "extern/meshoptimizer"]
	path = extern/meshoptimizer
	url = https://github.com/zeux/meshoptimizer.git
	branch = v0.17
[submodule "tools/assimp_converter/assimp"]
	path = tools/assimp_converter/assimp
	url = https://github.com/assimp/assimp
