foundation/build_info.cpp

engine/data_zip.h
engine/data
engine/imconfig.h
engine/imgui.h
engine/imgui_dock.h
engine/bind_Lua.*
engine/fabgen.h

tools/bind_Lua.*
tools/fabgen.h

tests/default_data_path.h
tests/data/out

build
sdk
bin

CMakeLists.txt.user

.vscode/.cmaketools.json
.vscode/settings.json

__pycache__
